body {
    font-family: 'Titillium Web', sans-serif;
}

.container {
    border: 0px solid red;
    display: grid;
    grid-template-areas: "c1 c1 c1 c1" "c2 c2 c2 c2" "v1 c4 c7 v2" "c3 c3 c3 c3 " "c3 c3 c3 c3";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.vazio1 {
    grid-area: v1;
}

.vazio2 {
    grid-area: v2;
}

.nova {
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
    color: rgb(50, 103, 68);
    grid-area: c1;
    border: 0px solid rgb(250, 201, 111);
}

.principal {
    display: flex;
    align-items: flex-start;
    grid-area: c2;
}

.divisaoEditar {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: rgb(240, 203, 155);
    border-radius: 30px;
    border: 0px solid rgb(240, 6, 6);
}

.editar {
    display: flex;
    border: 0px solid black;
    margin: 0px 350px 0px 300px;
    align-items: center;
}

input {
    width: 450px;
    height: 43px;
    border-radius: 20px;
    margin-right: 30px;
    border: 1px solid rgb(233, 227, 227);
}

.opcoes {
    display: flex;
    justify-content: center;
    border: 0px solid rgb(136, 0, 0)
}

.buttonEdit {
    border: none;
    background: transparent;
}

.buttonEdit :hover {
    transform: scale(1.5);
    transition: all 0.5s;
}

.buttonOpcoes, .buttonSalvar {
    border: none;
    width: 5em;
    background: transparent;
}

.buttonSalvar :hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.buttonOpcoes :hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.perguntas {
    grid-area: c3;
    border: 0px solid red;
    display: none;
    align-items: center;
}

.pergunta0 {
    
    grid-area: c3;
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 500px;
}

.per {
    width: 100%;
    display: flex;
}

.buttonAdicao {
    margin-left: 200px;
}

.adicao, .adicao3 {
    border: none;
    background: transparent;
}

.adicao1 {
    border: none;
    background: transparent;
}

.adicao :hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.adicao3 :hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.adicao1 :hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.pergunta1 {   
    background: white;
    border-radius: 20px;
    border: 1px solid rgb(230, 221, 221);
    padding: 30px;
    margin-top: 0.1%;
    width: 70%;
}

.perg {
   
  
}

.tituloPergunta1 {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    width: 70%;
}

.corpoPergunta {
    margin-top: 5px;
    font-size: 19px;
    width: auto;
    height: auto;
}

.corpoPergunta1 {
    display: none;
}
.corpoPerguntinha {
    font-size: 19px;
    width: auto;
    height: auto;
    margin-top: 5px;
}

.corpoPergunta2 {
    font-size: 19px;
    width: auto;
    height: auto;
    margin-top: 5px;
}

.assinatura {
    grid-area: c4;
    background: rgb(236, 236, 236);
    border: 0px solid black;
    font-weight: bold;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
}

.ferramentas {
    font-size: 20px;
}

.data {
    margin: 5px;
    grid-area: c7;
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb(236, 236, 236);
    border-radius: 20px;
    align-items: center;
    font-weight: bold;
}

.vazio2 {
    display: flex;
}

.buttonObrigatorio {
    width: 75px;
    height: 65px;
    border: 1px solid white;
    border-radius: 15px;
    color: rgb(50, 103, 68);
    margin: 2%;
}

.date {
    margin: 2%;
}

.date1 {
    width: 100%;
    margin-top: 4%;
}

[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}

/* Tooltip styling */

[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
}

/* Dynamic vertical centering */

[data-tooltip-position="right"]:before, [data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}

/* Show the tooltip when hovering */

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}